#container-empty {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(50% + 35px);
    padding: 0px 30px;
}

#container-empty .Clique-na-busca-para {
    font-family: Roboto;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: -0.5px;
    text-align: center;
    color: #383743;
}