#container-enterprises {
    margin-bottom: 0px;
    padding: 30px;
    display: none;
}

#enterprise-list {
    padding: 0px;
}

#enterprise-list>div.enterprise-item {
    background-color: white;
    padding: 20px 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    max-height: 160px;
    border-radius: 5px;
    cursor: pointer;
}

#enterprise-list>div.enterprise-item .header {
    font-family: Roboto;
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7DC075;
    text-align: center;
    padding: 20px 0px;
}

#enterprise-list>div.enterprise-item .info {
    font-family: Roboto;
    padding-top: 15px;
    padding-left: 10px;
}

#enterprise-list>div.enterprise-item .info>.name {
    font-size: 24px;
    font-weight: bold;
    color: #1a0e49;
}

#enterprise-list>div.enterprise-item .info>.type {
    font-size: 18px;
    color: #8d8c8c;
}

#enterprise-list>div.enterprise-item .info>.country {
    font-size: 12px;
    color: #8d8c8c;
}

@media (max-width: 427px) {
    #enterprise-list>div.enterprise-item .header {
        font-size: 35px;
    }
    #enterprise-list>div.enterprise-item .info>.name {
        font-size: 16px;
    }
    #enterprise-list>div.enterprise-item .info>.type {
        font-size: 14px
    }
}