#container-selected-enterprise {
    margin-bottom: 0px;
    padding: 30px;
    display: none;
}

#selected-enterprise {
    height: 100%;
}

.enterprise-card {
    background-color: white;
    padding: 35px 50px;
}

#selected-enterprise>div.enterprise-card>div.header {
    font-family: Roboto;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #7DC075;
    padding: 73px 0px;
}

#selected-enterprise>div.enterprise-card>div.description {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8d8c8c;
    padding-top: 20px;
    padding-bottom: 80px;
}

@media (max-width: 427px) {
    #selected-enterprise>div.enterprise-card>div.header {
        font-size: 35px;
        padding: 38px 0px;
    }
    .enterprise-card {
        padding: 25px 40px;
    }
    #selected-enterprise>div.enterprise-card>div.description {
        font-size: 16px;
        padding-bottom: 50px;
    }
}