#container-login {
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#container-login i.material-icons {
    position: absolute;
    top: 13px;
    color: #ee4c77;
    font-size: 20px;
}

#container-login input {
    padding-left: 30px;
    width: 100%;
}

#container-login div.welcome {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #383743;
    margin-top: 40px;
}

#container-login div.description {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.44;
    letter-spacing: -0.3px;
    text-align: center;
    color: #383743;
    margin-top: 20px;
}

#container-login #btn-login {
    border-radius: 3.6px;
    background-color: #57bbbc;
    box-shadow: none;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
}

#container-login #container-email {
    margin-top: 10px;
    margin-bottom: 0px;
}

#container-login #container-password {
    margin-top: 0px;
    margin-bottom: 0px;
}

#container-login input::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #383743;
}