nav.search-bar {
  background-image: linear-gradient(173deg, #EE4C77, #BA3C67);
  height: 120px;
}

nav.search-bar>.nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 30px 10px;
  background-image: linear-gradient(173deg, #EE4C77, #BA3C67);
}

#btn-search>.material-icons:hover {
  cursor: pointer;
}

#btn-search>.material-icons {
  font-size: 33px;
  position: relative;
  right: 20px;
}

#search-input {
  color: white;
  font-size: 26px;
  padding-left: 40px;
  padding-right: 20px;
}

#search {
  display: none;
  width: 100%;
}

#search-icon {
  position: relative;
  left: 30px;
  bottom: 3px;
  font-size: 30px;
}

#clean-icon:hover {
  cursor: pointer;
}

#clean-icon {
  position: relative;
  right: 20px;
}

nav.search-bar .container-input-search {
  display: flex;
  align-items: center;
}

#search-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #991237;
}

#search-input:focus {
  border-bottom: 1px solid white !important;
}

#logo {
  height: 40px;
  width: auto;
}